<footer class="page-footer border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
    </div>
    <custom-email my-email="ryallatti@gmail.com"></custom-email>

</footer>