
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
</head>
<body>
    <h3>This is about page of the application</h3>
</body>
</html>
