
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Book store Application</h1>
    <h6>Razor Multiline syntax </h6>
    @{ 
        int a = 10;
        int b = 20;
        int sum = a + b;
    }
    <h2>@sum</h2>

    <h5>my email id is - ry@gmail.com</h5>

    <h4>Escape sequence -  means need to display @*@*@ to any word</h4>
    <h3>Example of Escape sequence - @@twitter</h3> @*it uses only one @*@
</body>
</html>
