
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Book store Application</h1>
    @{
        int a = 9;
        int b = 5;
    }
    @if (a > 5)
    {
        a++;
        <p>hello from if block</p>
        <p>vlaue = @a </p>
    }
    else
    {
        <p>hello from else block</p>
        <p>vlaue = @a </p>
        a = a + 2;
    }
    <h4>@a</h4>
    <h4>ternary - @(a==10 ? b = 20:b=2)</h4>
    <h3>@b</h3>

    @switch (a)
    {
        case 1:<h1>I am 1</h1>
            break;
        case 2: <h1>I am 2</h1>
            break;
        case 3: <h1>I am 8</h1>
            break;
        case 10: <h1>I am 10</h1>
            break;
        default: <h1>I am default</h1>
            break;
    }

</body>
</html>
