
@*we are using dynamic view so its dynamic so no need to add directive*@ 
@*@model IEnumerable<BookModel>*@

@{
    ViewData["Title"] = "Get All Books";
}
<div class="container">
    <h3 class="display-3">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
         <div class="col-md-4">
           <partial name="_ThumbnailImage" model="@book"/>
         </div>
        }


    </div>
</div>
