/** {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}*/
body {
    display: flex;
    flex-direction: column;
}
.logo{
    height: 200px;
    width: 200px;
}
/* sticky footer styles...........................*/
html {
    min-height: 100%;
}

.fullPage {
    min-height: 80vh;
}

footer {
    bottom: 0;
    height: 60px;
    white-space: nowrap;
    line-height: 60px !important;
}
.membership-img{
    width:80%;
}
.img-responsive {
    width: auto;
    height: 400px;
}
.custom-file{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}